services:
    redis:
      image: redis:alpine
      ports:
        - "6379:6379"
    api:
      build:
        context: .
        dockerfile: api/Dockerfile # Dockerfile from api folder 
      ports:
        - "8000:8000"
      volumes: 
        - .:/app # take all changes from lokal folder and map changes to running docker container
      depends_on:
        - redis
        - db
      env_file:
        - .env   
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
        - CELERY_RESULT_BACKEND=redis://redis:6379  
        - QDRANT_URL=http://vector:6333
        - OLLAMA_HOST=http://host.docker.internal:11434
        - REDIS_URL=redis://redis:6379
      command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload # overrite cmd from dockerfile
    worker:
      build:
        context: .
        dockerfile: worker/Dockerfile
      depends_on:
        - redis
        - db
        - vector
      env_file:
        - .env                                  
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
        - CELERY_RESULT_BACKEND=redis://redis:6379  
        - OLLAMA_HOST=http://host.docker.internal:11434
        - QDRANT_URL=http://vector:6333

      volumes:
      - .:/app
      command: celery -A worker.celery_app worker --loglevel=info --queues=documents --concurrency=1 # 1 task per worker
    db:
      image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: fastapi_db
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data  
    pgadmin:
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: admin
        PGADMIN_CONFIG_SERVER_MODE: 'False'
        PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      ports:
        - "5050:80"
      depends_on:
        - db
      volumes:
        - pgadmin_data:/var/lib/pgadmin 
        - ./pgadmin-servers.json:/pgadmin4/servers.json  
    vector:
      image: "qdrant/qdrant:latest"
      ports:
        - "6333:6333"
        - "6334:6334" #grpc
      volumes:
        - qdrant_data:/qdrant/storage 
    prometheus:
      image: prom/prometheus
      ports:
        - "9090:9090"
      volumes:
        - ./prometheus.yml:/etc/prometheus/prometheus.yml # map lokal prometheus file to container 
    grafana:
      image: grafana/grafana
      ports:
        - "3000:3000"
      volumes:
        - grafana_data:/var/lib/grafana
volumes:
  postgres_data: 
  qdrant_data:     
  pgadmin_data:  
  grafana_data:
                            
