services:
    redis:
      image: redis:alpine
      ports:
        - "6379:6379"
    redis-commander:
      image: rediscommander/redis-commander
      platform: linux/arm64
      environment: 
        - REDIS_HOSTS=local:redis:6379
      ports:
        - "8081:8081"
      depends_on:
        - redis
    api:
      build: .
      ports:
        - "8000:8000"
      volumes:
        - .:/app
      depends_on:
        - redis
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
      command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    worker:
      build: .
      depends_on:
        - redis
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
      command: celery -A pdf_reader worker --loglevel=info

