services:
    redis:
      image: redis:alpine
      ports:
        - "6379:6379"
    api:
      build: .
      ports:
        - "8000:8000"
      volumes:
        - .:/app
      depends_on:
        - redis
        - db
      env_file:
        - .env   
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
      command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    worker:
      build: .
      depends_on:
        - redis
        - db
      env_file:
        - .env                                  
      environment:
        - CELERY_BROKER_URL=redis://redis:6379
      command: celery -A src.document.workers.pdf_reader worker --loglevel=info
    db:
      image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: fastapi_db
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data  
    pgadmin:
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: admin
      ports:
        - "5050:80"
      depends_on:
        - db
    vector:
      image: "qdrant/qdrant:latest"
      ports:
        - "6333:6333"
        - "6334:6334" #grpc
      volumes:
        - qdrant_data:/qdrant/storage 
volumes:
  postgres_data: 
  qdrant_data:                                 
