@import "tailwindcss" source(".");
@plugin "@tailwindcss/forms";

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  /* main {

  } */
}
